*.c
*.o
MANIFEST*
!MANIFEST.SKIP
Makefile*
!Makefile.PL
*.bs
Gtk2-WebKit-*
build
*blib
inc
META.yml
README
Debian*
.*
!.gitignore
*~
debian/files
debian/libgtk2-webkit-perl.debhelper.log
debian/libgtk2-webkit-perl.substvars
debian/libgtk2-webkit-perl/
